/************************************** FONTS ****************************************/
@font-face {
  font-family: "roboto-thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
/************************************** VARIABLES ****************************************/
/************************************** GENERAL RESET **************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
         v2.0 | 20110126
         License: none (public domain)
      */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
}
/************************************* CUSTOM SETTINGS *************************************/
html {
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}
body {
  overflow: hidden;
}
section {
  padding: 50px 0;
}
p,
ul,
ol {
  margin-bottom: 0.5em;
}
p a,
h5 a {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.btn-custom {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #12cbc4;
  font-family: "roboto-medium", Arial, sans-serif;
}
/************************************* NAVBAR *************************************/
#mainNav {
  background-color: #ffffff;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 0.5rem;
  box-shadow: 4px -6px 19px 2px #8492af;
}
#mainNav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: #ffffff;
}
#mainNav .navbar-brand {
  margin-right: 0;
}
#mainNav .navbar-brand img {
  width: 35%;
  z-index: 2;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px !important;
  letter-spacing: 0.5px;
  color: #000000 !important;
  font-family: "roboto-medium", Arial, sans-serif;
  margin-right: 2px;
  border: 1px solid transparent;
}
#mainNav .navbar-nav .nav-item #login {
  padding: 7px 20px !important;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #12cbc4;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
  background: #12cbc4 !important;
  border-radius: 5px;
}
/************************************* HEADER *************************************/
header {
  margin: 100px 0 280px 0;
  padding: 50px 0;
}
header .container h1 {
  color: #8492af;
  font-size: 2rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
header .container .row .col-md-4 .intro-text h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  font-family: "roboto-medium", Arial, sans-serif;
  color: #8492af;
  margin-bottom: 1rem;
}
header .container .row .col-md-4 .intro-text span {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
header .container .row .col-md-4 .intro-text a {
  color: #12cbc4;
  font-size: 1rem;
  margin-left: 15px;
  float: right;
}
header .container .row .col-md-8 #contact-form {
  box-shadow: 0px 0px 27px -8px #8492af;
  padding: 3%;
  border-radius: 5px;
  opacity: 0;
  transition: all 2.5s ease-out;
  width: 0;
}
header .container .row .col-md-8 #contact-form .row {
  margin: 2% 0;
}
header .container .row .col-md-8 #contact-form .row .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #12cbc4;
}
header .container .row .col-md-8 #contact-form .row input,
header .container .row .col-md-8 #contact-form .row textarea {
  font-family: "roboto-medium", Arial, sans-serif;
}
header .container .row .col-md-8 #contact-form .row label {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
header .container .row .col-md-8 #contact-form button:hover {
  transform: translateX(5px);
  transition: all 0.5s ease-out;
}
/********************************** FOOTER ****************************************/
footer {
  height: 280px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5% 0 0 0;
  background: #d7f5f4;
  font-family: "roboto-medium", Arial, sans-serif;
  color: #000000;
  line-height: 1.2;
}
footer .container {
  padding-bottom: 1%;
}
footer .container .row .col-md-4:not(:last-child) {
  border-right: 1px solid #8492af;
}
footer .container .row .col-md-4 .footer-title {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #8492af;
}
footer .container .row .col-md-4 .single-footer-widget {
  padding-right: 10px;
}
footer .container .row .col-md-4 .single-footer-widget p {
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 0.8rem;
}
footer .container .row .col-md-4 .footer-links li span {
  display: block;
  color: #000000;
  font-size: 1.5rem;
}
footer .container .row .col-md-4 .footer-links li a {
  color: #000000;
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 1rem;
}
footer .container .row .col-md-4 .footer-links li a:hover {
  color: #8492af;
}
footer .container .row .col-md-4 .footer-social a {
  color: #000000;
}
footer .container .row .col-md-4 .footer-social a i {
  color: #000000;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
footer .container .row .col-md-4 .footer-social a i:hover {
  color: #8492af;
  transition: all 0.3s ease-out;
}
footer .container .row .col-md-4 .footer-social a:hover {
  color: #8492af;
}
footer #copy-right {
  background: #12cbc4;
  padding: 1%;
}
footer #copy-right p {
  font-family: "roboto", Georgia, serif;
}
footer #copy-right p img {
  width: 60px;
  vertical-align: -0.8rem;
}
/************************************* MEDIA-QUERY *************************************/
@media (min-width: 300px) {
  #mainNav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 4px -6px 19px 2px #8492af;
  }
  #mainNav .navbar-toggler {
    background: #12cbc4;
    color: #ffffff;
  }
}
@media (max-width: 991px) {
  #mainNav {
    padding-top: 5px;
  }
  #mainNav .navbar-toggler {
    padding: 5px;
  }
}
@media all and (max-width: 767px) {
  footer .container .row .col-md-4:not(:last-child) {
    border-bottom: 1px solid #8492af;
    border-right: 0;
  }
}
@media (max-width: 768px) {
  #mainNav .navbar-toggler {
    padding: 5px;
  }
  #mainNav .navbar-brand {
    width: 50%;
  }
  header {
    margin: 100px 0 100px 0;
  }
  header .container .row .col-md-4 .intro-text {
    margin-bottom: 50px;
  }
  footer {
    position: relative !important;
    height: unset;
  }
  footer .container .row .col-md-4 {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  #mainNav .navbar-brand img {
    width: 60%;
  }
  #mainNav .navbar-toggler {
    padding: 1px;
  }
  footer .container .row .col-md-4 .single-footer-widget {
    margin-top: 0 !important;
  }
}
