/************************************** FONTS ****************************************/
@font-face {
  font-family: "roboto-thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
/************************************** VARIABLES ****************************************/
/************************************** GENERAL RESET **************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
}
/************************************* CUSTOM SETTINGS *************************************/
html {
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}
body {
  overflow: hidden;
}
section {
  padding: 50px 0;
}
p,
ul,
ol {
  margin-bottom: 0.5em;
}
p a,
h5 a {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.btn-custom {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #12cbc4;
  font-family: "roboto-medium", Arial, sans-serif;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #12cbc4;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/***************************** MADE BY DIABLO ******************************/
#wrapper {
  display: none;
  /************************************* NAVBAR *************************************/
  /************************************* MAIN-CONTENT *************************************/
}
#wrapper #mainNav {
  background-color: #ffffff;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 0.5rem;
  box-shadow: 4px -6px 19px 2px #8492af;
}
#wrapper #mainNav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: #ffffff;
}
#wrapper #mainNav .navbar-brand {
  margin-right: 0;
}
#wrapper #mainNav .navbar-brand img {
  width: 35%;
  z-index: 2;
}
#wrapper #mainNav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px !important;
  letter-spacing: 0.5px;
  color: #000000 !important;
  font-family: "roboto-medium", Arial, sans-serif;
  margin-right: 2px;
  border: 1px solid transparent;
}
#wrapper #mainNav .navbar-nav .nav-item #login {
  padding: 7px 20px !important;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #12cbc4;
}
#wrapper #mainNav .navbar-nav .nav-item .nav-link.active,
#wrapper #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
  background: #12cbc4 !important;
  border-radius: 5px;
}
#wrapper main {
  margin-bottom: 280px;
}
#wrapper main #pharmacies-registration {
  margin-top: 100px;
}
#wrapper main #pharmacies-registration h2 {
  color: #8492af;
  font-size: 2rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form {
  opacity: 0;
  transition: all 2.5s ease-out;
  width: 0;
  box-shadow: 0px 0px 27px -8px #8492af;
  padding: 1%;
  border-radius: 5px;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form .row {
  margin: 2% 0;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #12cbc4;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col input {
  font-family: "roboto-medium", Arial, sans-serif;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col select {
  font-family: "roboto-medium", Arial, sans-serif;
}
#wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col label {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
#wrapper main #pharmacies-registration .container .row #registration-right #location span {
  font-family: "roboto-medium", Arial, sans-serif;
}
#wrapper main #pharmacies-registration .container .row #registration-right #location span i {
  color: #12cbc4;
}
#wrapper main #pharmacies-registration .container .row #registration-right #pharmacies-map {
  border-radius: 5px;
  text-align: center;
  color: #8492af;
  font-size: 1.5rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  border: 1px solid #8492af;
  height: 500px;
  width: auto;
}
/********************************** FOOTER ****************************************/
footer {
  display: none;
  height: 280px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5% 0 0 0;
  background: #d7f5f4;
  font-family: "roboto-medium", Arial, sans-serif;
  color: #000000;
  line-height: 1.2;
}
footer #scroll-top {
  position: absolute;
  bottom: 94%;
  right: 1%;
  background: #12cbc4;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 5px;
  z-index: 5;
}
footer #scroll-top i {
  font-size: 1.2rem;
}
footer .container {
  padding-bottom: 1%;
}
footer .container .row .col-md-4:not(:last-child) {
  border-right: 1px solid #8492af;
}
footer .container .row .col-md-4 .footer-title {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #8492af;
}
footer .container .row .col-md-4 .single-footer-widget {
  padding-right: 10px;
}
footer .container .row .col-md-4 .single-footer-widget p {
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 0.8rem;
}
footer .container .row .col-md-4 .footer-links li span {
  display: block;
  color: #000000;
  font-size: 1.5rem;
}
footer .container .row .col-md-4 .footer-links li a {
  color: #000000;
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 1rem;
}
footer .container .row .col-md-4 .footer-links li a:hover {
  color: #8492af;
}
footer .container .row .col-md-4 .footer-social a {
  color: #000000;
}
footer .container .row .col-md-4 .footer-social a i {
  color: #000000;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
footer .container .row .col-md-4 .footer-social a i:hover {
  color: #8492af;
  transition: all 0.3s ease-out;
}
footer .container .row .col-md-4 .footer-social a:hover {
  color: #8492af;
}
footer #copy-right {
  background: #12cbc4;
  padding: 1%;
}
footer #copy-right p {
  font-family: "roboto", Georgia, serif;
}
footer #copy-right p img {
  width: 60px;
  vertical-align: -0.8rem;
}
/************************************* MEDIA-QUERY *************************************/
@media (min-width: 300px) {
  #wrapper #mainNav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 4px -6px 19px 2px #8492af;
  }
  #wrapper #mainNav .navbar-toggler {
    background: #12cbc4;
    color: #ffffff;
  }
}
@media (max-width: 991px) {
  #wrapper #mainNav {
    background-color: #ffffff;
    padding-top: 5px;
  }
  #wrapper #mainNav .navbar-toggler {
    padding: 5px;
  }
}
@media all and (max-width: 767px) {
  footer .container .row .col-md-4:not(:last-child) {
    border-bottom: 1px solid #8492af;
    border-right: 0;
  }
}
@media (max-width: 768px) {
  #wrapper #mainNav .navbar-toggler {
    padding: 5px;
  }
  #wrapper #mainNav .navbar-brand {
    width: 50%;
  }
  #wrapper main #pharmacies-registration {
    margin-top: 70px;
    padding-bottom: 0;
  }
  #wrapper main #pharmacies-registration .container .row #registration-left #register-form {
    margin-bottom: 3rem;
  }
  footer {
    position: relative !important;
    height: unset;
  }
  footer .container .row .col-md-4 {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  #wrapper main {
    margin-bottom: 150px;
  }
  #wrapper main #pharmacies-registration .container .row #registration-right {
    margin-top: 30px;
  }
  #wrapper #mainNav .navbar-brand img {
    width: 60%;
  }
  #wrapper #mainNav .navbar-toggler {
    padding: 1px;
  }
  #wrapper main #pharmacies-registration h2 {
    font-size: 1.5rem;
  }
  #wrapper main #pharmacies-registration .container .row #registration-left #register-form {
    font-size: 0.8rem;
  }
  #wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col input,
  #wrapper main #pharmacies-registration .container .row #registration-left #register-form .row .col select {
    font-size: 0.8rem;
  }
  footer .container .row .col-md-4 .single-footer-widget {
    margin-top: 0 !important;
  }
}
