/************************************** FONTS ****************************************/
@font-face {
  font-family: "roboto-thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
/************************************** VARIABLES ****************************************/
/************************************** GENERAL RESET **************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
}
/************************************* CUSTOM SETTINGS *************************************/
html {
  background-color: #ffffff;
  overflow-x: hidden;
}
body {
  background-color: #ffffff;
  overflow: hidden;
}
section {
  padding: 50px 0;
}
p,
ul,
ol {
  margin-bottom: 0.5em;
}
p a,
h5 a {
  font-weight: bold;
  transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
/************************************* NAVBAR *************************************/
#mainNav {
  background-color: transparent;
  padding-top: 2rem;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}
#mainNav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: #ffffff;
}
#mainNav .navbar-brand {
  margin-right: 0;
}
#mainNav .navbar-brand img {
  width: 35%;
  z-index: 2;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  padding: 7px 15px !important;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "roboto-medium", Arial, sans-serif;
  margin-right: 2px;
}
#mainNav .navbar-nav .nav-item #login {
  padding: 7px 20px !important;
  background-color: #082058;
  border-radius: 5px;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff !important;
  background: #082058 !important;
  border-radius: 5px;
}
/************************************* HEADER *************************************/
header {
  color: #ffffff;
}
header .owl-carousel .item .slider-img {
  height: 700px;
  position: relative;
  transition: all 25s ease;
  transform-style: preserve-3d;
  width: 100%;
}
header .owl-carousel .item .carousel-caption {
  top: 28%;
}
header .owl-carousel .item .carousel-caption .container .col-md-6 .card {
  border-radius: 10px;
  transition: all 0.5s ease-out;
  border: 0;
  background: transparent;
}
header .owl-carousel .item .carousel-caption .container .col-md-6 .card .header-text-img {
  width: 20%;
  margin: 0 auto;
  z-index: 2;
}
header .owl-carousel .item .carousel-caption .container .col-md-6 .card .card-body {
  background: #ffffff;
  border-radius: 10px;
  margin-top: -30px;
}
header .owl-carousel .item .carousel-caption .container .col-md-6 .card .card-body .card-title {
  text-align: center;
  padding: 20px;
  font-family: "roboto-medium", Arial, sans-serif;
  color: #5b6b8c;
  font-size: 1.5rem;
  text-align: left;
}
header .owl-carousel .owl-nav {
  z-index: 10;
  font-size: 2rem;
}
header .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  bottom: 50%;
  outline: 0 !important;
  box-shadow: none !important;
}
header .owl-carousel .owl-nav .owl-prev span {
  background: #082058;
  padding: 7px 20px 10px 20px;
  outline: 0;
  border-radius: 5px;
}
header .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0;
  bottom: 50%;
  outline: 0 !important;
  box-shadow: none !important;
}
header .owl-carousel .owl-nav .owl-next span {
  background: #082058;
  padding: 7px 20px 10px 20px;
  border-radius: 5px;
}
header .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
}
/************************************* ABOUT *************************************/
#about h2 {
  color: #8492af;
  font-size: 2rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
#about .container .row .col-md-12 .card-deck .card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: -1px -1px 15px 2px #e1e4eb;
  padding: 2% 0 0 0;
}
#about .container .row .col-md-12 .card-deck .card img {
  width: 30%;
  margin: 0 auto;
}
#about .container .row .col-md-12 .card-deck .card .card-body .card-title {
  text-align: center;
  font-size: 1.2rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
#about .container .row .col-md-12 .card-deck .card .card-body .card-text {
  font-size: 1rem;
  font-family: "roboto-medium", Arial, sans-serif;
  line-height: 1.2;
  color: #65779b;
}
#about .container .row .col-md-12 .card-deck .card:hover {
  background: #082058;
  color: #ffffff;
  transition: all 0.5s ease-out;
}
#about .container .row .col-md-12 .card-deck .card:hover .card-text {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
/************************************* FAQ *************************************/
#faq h2 {
  color: #8492af;
  font-size: 2rem;
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
}
#faq .container [data-toggle="collapse"] .fa:before {
  content: "\f139";
}
#faq .container [data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
#faq .container #accordion .card {
  margin-bottom: 20px;
}
#faq .container #accordion .card .card-header h5 button {
  font-size: 1.4rem;
  font-family: "roboto", Georgia, serif;
  background: #082058;
  color: #ffffff;
}
#faq .container #accordion .card .card-header h5 button i {
  float: right;
}
#faq .container #accordion .card .card-body {
  font-size: 1.2rem;
  font-family: "roboto-medium", Arial, sans-serif;
}
/********************************** FOOTER ****************************************/
footer {
  padding: 5% 0 0 0;
  background: #0c3187;
  font-family: "roboto-medium", Arial, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  position: relative;
}
footer #scroll-top {
  position: absolute;
  bottom: 94%;
  right: 1%;
  background: #082058;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 5px;
  z-index: 5;
}
footer #scroll-top i {
  font-size: 1.2rem;
}
footer .container {
  padding-bottom: 1%;
}
footer .container .row .col-md-4:not(:last-child) {
  border-right: 1px solid #8492af;
}
footer .container .row .col-md-4 .footer-title {
  font-family: "roboto-bold", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #8492af;
}
footer .container .row .col-md-4 .single-footer-widget {
  padding-right: 10px;
}
footer .container .row .col-md-4 .single-footer-widget p {
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 0.8rem;
}
footer .container .row .col-md-4 .footer-links li span {
  display: block;
  color: #8492af;
  font-size: 1.5rem;
}
footer .container .row .col-md-4 .footer-links li a {
  color: #8492af;
  font-family: "roboto-medium", Arial, sans-serif;
  font-size: 1rem;
}
footer .container .row .col-md-4 .footer-links li a:hover {
  color: #ffffff;
}
footer .container .row .col-md-4 .footer-social a {
  color: #ffffff;
}
footer .container .row .col-md-4 .footer-social a i {
  color: #ffffff;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
footer .container .row .col-md-4 .footer-social a i:hover {
  color: #8492af;
  transition: all 0.3s ease-out;
}
footer .container .row .col-md-4 .footer-social a:hover {
  color: #8492af;
}
footer #copy-right {
  background: #082058;
  padding: 1%;
}
footer #copy-right p {
  font-family: "roboto", Georgia, serif;
}
footer #copy-right p img {
  width: 60px;
  vertical-align: -0.8rem;
}
footer #copy-right p i {
  color: #000000;
  animation: pulse 2s linear infinite;
  margin: 0 1px;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
footer #copy-right p a {
  color: #000000;
}
footer #copy-right p a:hover {
  color: #8492af;
}
/************************************* MEDIA-QUERY *************************************/
@media (min-width: 300px) {
  #mainNav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    box-shadow: 4px -6px 19px 2px #8492af;
  }
  #mainNav .navbar-toggler {
    background: #082058;
    color: #ffffff;
  }
}
@media (max-width: 991px) {
  #mainNav {
    background-color: #082058;
    padding-top: 5px;
  }
  #mainNav .navbar-toggler {
    padding: 5px;
  }
}
@media all and (max-width: 769px) and (min-width: 767px) {
  footer .container .row .col-md-4:not(:last-child) {
    border-bottom: 0 !important;
    border-right: 1px solid #8492af !important;
  }
}
@media (max-width: 768px) {
  #mainNav {
    background-color: #082058;
  }
  #mainNav .navbar-toggler {
    padding: 5px;
  }
  #mainNav .navbar-brand {
    width: 75%;
  }
  header .owl-carousel .item .slider-img {
    height: 550px;
  }
  header .owl-carousel .item .carousel-caption .container .col-md-6 .card .card-body .card-title {
    font-size: 1rem;
  }
  header .owl-carousel .owl-nav .owl-next span,
  header .owl-carousel .owl-nav .owl-prev span {
    font-size: 1rem;
  }
  #faq .container #accordion .card .card-header h5 button {
    font-size: 0.7rem;
  }
  #faq .container #accordion .card .card-body {
    font-size: 1rem;
  }
  footer .container .row .col-md-4:not(:last-child) {
    border-bottom: 1px solid #8492af;
    border-right: 0;
  }
  footer .container .row .col-md-4 {
    padding: 20px;
  }
}
@media (max-width: 415px) {
  header .owl-carousel .item .carousel-caption .container .col-md-6 .card .header-text-img {
    width: 30%;
    margin-bottom: 5px;
  }
  header .owl-carousel .item .carousel-caption .container .col-md-6 .card .card-body {
    padding: 5px;
  }
  footer .container .row .col-md-4 .single-footer-widget {
    margin-top: 0 !important;
  }
}
